#Please do not change the var's name 请不要更改变量名

#OpenAI Standard,Translate Model API Key 遵循OpenAI调用格式的翻译模型

#模型名称 Model Name
Google_Translate_Model_Name = ""

#模型密钥 Model API KEY
Google_Translate_Secret_Key = ""

#模型端点 Model Website
Google_Translate_Node = ""

#OpenAI Standard,OCR Model  API Key  遵循OpenAI调用格式的OCR模型

#模型名称 Model Name
Google_OCR_Model_Name = ""

#模型密钥 Model API KEY
Google_OCR_Secret_Key = ""

#模型端点 Model Website
Google_OCR_Node = ""
